@model DataLayer.Products
@{
    ViewBag.Title = "ShowProductDetail";
}


<div class="col-md-12 col-sm-12 left-side-content">
    <section class="single-page">
        <header><h3> @Model.ProductTitle  </h3> </header>
        <article>
            <!-- Detail -->
            <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
                <div>
                    <span> قیمت : @Model.Price.ToString("#,0") تومان </span>
                    <a href="" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
                </div>
                <p>@Model.ShortDescription</p>
            </div>
            <!-- End Detail -->
            <!-- Gallery -->
            <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
                <div class="large-image border-radius">
                    <img class="border-radius" style="width:100%; height:200px" src="~/Images/ProductImages/@Model.ImageName">
                </div>
                <div class="thumbnails-image">
                    <div class="row">
                        @if (Model.Product_Galleries.Any()) {
                            foreach (var item in Model.Product_Galleries) {
                        <div class="col-md-3 col-sm-3 col-xs-4 border-radius"><img class="border-radius" src="~/Images/ProductImages/Thumb/@item.ImageName"></div>
                            }
                        }

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- End Gallery -->
            <div class="clearfix"></div>
        </article>
    </section>


    <div class="tabs-product margin-top-25">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-content" aria-expanded="true"> توضیحات کامل </a></li>
            <li class=""><a data-toggle="tab" href="#properties" aria-expanded="false"> ویژگی ها </a></li>
            <li class=""><a data-toggle="tab" href="#comments" aria-expanded="false"> نظرات کاربران </a></li>
        </ul>

        <div class="tab-content ">

            <!-- description -->
            <div id="main-content" class="tab-pane fade active in">
                <h3> ویژگی های محصول : </h3>
                <p>
                    @Html.Raw(Model.Text)
                </p>


            </div>
            <!-- End description -->
            <!-- Chart -->
            <div id="properties" class="tab-pane fade">
                <h3> ویژگی های محصول : </h3>
                @if (ViewBag.features != null)
                {

                    List<DataLayer.ShowProductFeatureViewModel> features = ViewBag.features;

                    <ul>

                        @foreach (var item in features)
                        {
                            <li> @item.FeatureTitle: @string.Join(", ", item.Values) </li>
                        }
                    </ul>
                }
            </div>
            <!-- End Chart -->
            <!-- Comment -->
            <div id="comments" class="tab-pane fade">
                <div class="comment-layer"  id="Rcomment">
                    @Html.Action("CreateComments")
                    <ul class="comment-list" id="listComment">
                        @Html.Action("ShowComments")
                    </ul>
                </div>
            </div>
            <!-- End Comment -->



        </div>
    </div>

    <section class="border-radius tags-layer">
        @foreach (var item in Model.Tags)
        {
            <a href="/Search?q=@item.Tag">@item.Tag</a>
        }
    </section>


</div>

<script>
    function successComment() {
        $("#Name").val("");
        $("#Email").val("");
        $("#WebSite").val("");
        $("#Comment").val("");
        $("ParentID").val("");
    }

    function ReplyComment(id) {
        $("#ParentID").val(id);
        $("html, body").delay(1000).animate({ scrollTop: $('#Rcomment').offset().top }, 1000);
    }


</script>
